{% extends "base.html" %}
{% block content %}
  <h1>{{ action }} Tovar</h1>
  <form method="POST" >
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.title.label() }}
      {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.cost.label() }}
      {{ form.cost(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.category.label() }}
      {{ form.category(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}