{% extends "base.html" %}
{% block content %}
<div class="row pb-3">
    <div class="col-1 m-3">
        <input type="button" value="Сохранить" id='orderSave'/>
    </div>
    <div class="col-1 m-3">
        <input type="button" value="Редактировать" id='orderEdit'/>
    </div>
    <div class="col-1 m-3">
        <input type="button" value="Удалить" id='orderDelete'/>
    </div>
</div>
<div class="row mb-3">
    <div><input id='orderSearch'/></div>
</div>
<div id="orderDataTable">
</div>
<div id='orderJqxWindow'>
    <div>Header</div>
    <div>
        <div id='jqxMaskedInput'></div>
        <div id='jqxDateTimeInput'></div>
        <div id='orderJqxlistbox'></div>

        <div id="orderAddTovarDataTable">
        </div>
        <div><input type="button" value="Добавить товар" id='orderAddTovar'/>
        <input type="button" value="Изменить товар" id='orderEditTovar'/>
        <input type="button" value="Удалить товар" id='orderDeleteTovar'/></div>
        <input type="button" value="ОК" id='orderOK'/>
        <input type="button" value="Закрыть" id='orderCancel'/>
    </div>
</div>


<div id='orderAddTovarJqxWindow'>
    <div>Header</div>
    <div>
        <div id='orderAddTovarJqxlistbox'></div>
        <div id="orderAddTovarJqxFormattedInput"><input type="text"/></div>
        <input type="button" value="ОК" id='orderAddTovarOK'/>
        <input type="button" value="Закрыть" id='orderAddTovarCancel'/>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.6.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/jqx-all.js') }}"></script>
<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% endblock %}