{% extends "base.html" %}
{% block content %}
  <h1>Самые частые покупатели в  магазине</h1>
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Количество заказов</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.surname}}</td>
                <td>{{ customer.order_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
<br>
    <a href="{{ url_for('order') }}" class="btn btn-light">Вернуться к заказам</a>
<br>
    <a href="{{ url_for('excel_top_customers') }}" class="btn btn-light">Выгрузить в excel</a>
<br>
    <a href="{{ url_for('start') }}" class="btn btn-warning">Главная страница</a>
{% endblock %}