{% extends "base.html" %}
{% block content %}
<div class="row pb-3">
    <div class="col-1 m-3">
        <input type="button" value="Сохранить" id='tovarSave'/>
    </div>
    <div class="col-1 m-3">
        <input type="button" value="Редактировать" id='tovarEdit'/>
    </div>
    <div class="col-1 m-3">
        <input type="button" value="Удалить" id='tovarDelete'/>
    </div>
</div>
<div class="row mb-3">
    <div><input id='tovarSearch'/></div>
</div>
<div id="tovarDataTable">
</div>
<div id='tovarJqxWindow'>
    <div>Header</div>
    <div>
        <div><input id='tovarInput'/></div>
        <div id="jqxFormattedInput">
        <input type="text" /></div>
        <div id='tovarJqxlistbox'></div>
        <input type="button" value="ОК" id='tovarOK'/>
        <input type="button" value="Закрыть" id='tovarCancel'/>
        </div>



</div>

<script src="{{ url_for('static', filename='js/jquery-3.6.4.js') }}"></script>
<script src="{{ url_for('static', filename='js/jqx-all.js') }}"></script>
<script src="{{ url_for('static', filename='js/tovars.js') }}"></script>
{% endblock %}